<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/css/home.css">
    <link rel="stylesheet" href="./public/css/login.css">
    <link rel="stylesheet" href="./public/css/signup.css">
    <title>FlexFlow Fitness Tracker</title>
</head>

<body>
    <header>
    <!--Navigation Bar & Header-->
        <div class="logo">
            <img src="./assets/images/FlexFlow Fitness Logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./signup.html">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <!--Footer & Logo-->
        <div class="footer">
        <img src="./assets/images/FlexFlow Fitness Logo.png" alt="Logo">
            <p>© All rights reserved</p>
        </div>
    </footer>

</body>

