<!--Hero section-->
  <div class="hero-section">
    <div class="quote-container">
        <p class="quote">
            Unlock your extraordinary potential with our cutting-edge fitness tracker, propelling you towards a stronger, healthier you and inspiring others to redefine what's possible on your fitness journey.
        </p>
        <a href="./signup.html" class="signup-button">
          <button type="button">Sign Up</button>
      </a>
    </div>
</div>
 

<!--Info Section-->
<div class="feature-section">
    <div class="feature-container">
      <h3>Customized Workout Plans</h3>
      <p>Personalized plans based on your goals and fitness level.</p>
    </div>

    <div class="feature-container">
      <h3>Real-time Exercise Guidance</h3>
      <p>On-screen or audio-guided instructions for proper form.</p>
    </div>

    <div class="feature-container">
      <h3>Multi-sport Tracking</h3>
      <p>Track a variety of activities beyond steps.</p>
    </div>

    <div class="feature-container">
      <h3>Performance Metrics</h3>
      <p>Comprehensive tracking of key workout metrics.</p>
    </div>

    <div class="feature-container">
      <h3>Wearable Technology Integration</h3>
      <p>Compatibility with various wearable devices.</p>
    </div>
  </div>


<!--Info Section-->
    <section class="app-goals">
        <div>
        <h>Embrace the challenge, envision the future</h>
            <p>"Transform every step, every beat, and every drop of sweat into a journey of self-discovery. Your fitness story begins with us – where determination meets data, and every move is a step closer to the strongest version of yourself.  Elevate your fitness journey with FlexFlow – where every move is a milestone, and every milestone is a victory."
        </div>
    </section>

<script src="./assets/js/script.js"></script>