/* Default styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: white;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h5{
    font-size: 24px;
    padding: 0px;
    margin-bottom: 0px;
}


h6{
    font-size: 15px;
    color: black;
    padding: 20px;
}

h2,h3,h4,h5 {
    margin-bottom: 10px;
    text-align: center;
    
}

p {
    font-size: 16px;
    text-align: center;
}



/* Style Header */
header {
    padding: 30px;
    background-color: #d4ff02;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

/* Style Navigation Bar */
nav ul {
    padding-top: 40px;
    margin-right: 15px;
    float: right;
    font-size: 18px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 12px;
}

/* Logo */
.logo img {
    height: 139px;
    max-height: 100%;
}

/* Style the hero container */
.hero-section {
    position: relative;
    height: 100vh;
    background: url('../images/fitnessintroimage.png') center/cover no-repeat;
    color: white; /* text color on top of the image */
    display: flex;
    align-items: center;
    justify-content: center; /* Change from flex-start to center */
    text-align: center; /* Center-align text */
    padding: 20px;
    box-sizing: border-box;
}

.quote {
    max-width: 900px; /* adjust as needed */
    font-size: 2.8rem; /* adjust as needed */
    font-style: italic;
    line-height: 1.5;
    margin: 0;
}


/* Style First Info Sectiom */
.first-section{
    max-width: 100%;
    height: 100%; 
}

#content-text{
    color: black;
    padding: 60px 100px;
    height: auto;
    background-color: #a6a6a6;
    font-size: 20px;
}

#first-paragraph{
    text-align: left;
}

/* Style Second Info Section */
.second-section{
    color: #d4ff02;
    background-color: black;
    padding: 100px;
    height: auto;
    text-align: center;
}


/*Style Footer*/
.footer{
    background-color: white;
    color: black;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
}

.footer img{
    width: 177px;
    height: 193px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        float: none;
        text-align: center;
        margin-top: 20px;
    }

    li {
        margin: 0 10px;
    }}